.container {
  display: flex;
  flex: 3;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.tableContainer {
  width: 100%;
}

.deleteIcon {
  position: absolute;
  top: 1.5%;
  left: 97.5%;
  & > svg:hover {
    color: blueviolet;
    cursor: pointer;
  }
}

.headerCell1 {
  background-color: #c9c9c9;
  text-align: center;
}

.calc {
  display: flex;
  align-items: center;
  gap: 5px;
  position: absolute;
  bottom: 1.5%;
}
